<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}

    <div class="container">
        <hr>
        <div class="row">
            <div class="col-sm-8">
                <img src="images/khtn.png" />
            </div>

            <div class="col-sm-4" id="contact_site">
                <h3>About us</h3>
                <hr align="left" width="50%">
                <h4 class="pt-2">Student</h4>
                <i class="fas fa-portrait"></i>
                <a href="#">1712268 - Nguyễn Hồng Ân</a><br>
                <i class="fas fa-portrait"></i>
                <a href="#">1712208 - Hà Phùng Quang Vũ</a><br>
                <i class="fas fa-portrait"></i>
                <a href="#">1712859 - Nguyễn Phạm Anh Tú</a><br>
                <h4 class="pt-2">About Website</h4>
                <p>
                    This is website for a project from University of Science, HCMC.
                    <br>
                </p>
                <p>
                    This project is for school education, not for commercial purposes.
                </p>
            </div>
        </div>
    </div>


    {{> import/b4_script}}
</body>

</html>