<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    <div class="mx-5 my-5">

        <div class="row">

            <div class="col-lg-3">

                <h1 class="my-4">Category</h1>
                <div class="list-group">
                    {{#each cats}}
                    <a href="/category/{{CategoryID}}"
                        class="list-group-item list-group-item-action {{#if isActive}} active {{/if}}">
                        {{CatName}}
                    </a>
                    {{#if isActive}}
                    {{#each ../subCategories}}
                    <a href="/category/{{../CategoryID}}/cat/{{SubCatID}}"
                        class="ml-4 pr-4 list-group-item list-group-item-action {{#if isActive_sub}} active {{/if}}">
                        {{SubCateName}}
                    </a>
                    {{/each}}
                    {{/if}}
                    {{/each}}
                </div>

            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="./images/slideshow_1.jpg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="./images/slideshow_2.jpg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="./images/slideshow_3.jpg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
               <div class="row d-flex justify-content-end">
                    
                    <select id="OrderPicker" name="order">
                        <option value="Price" {{#ifCond order_ 'Price'}} selected="selected" {{/ifCond}}>
                            Price
                        </option>
                        <option value="ProName" {{#ifCond order_ 'ProName'}} selected="selected" {{/ifCond}}>
                            ProName
                        </option>
                        <option value="SellerID" {{#ifCond order_ 'SellerID'}} selected="selected" {{/ifCond}}>
                            SellerID
                        </option>
                        <option value="Rating" {{#ifCond order_ 'Rating'}} selected="selected" {{/ifCond}}>
                            Rating
                        </option>
                        <option value="end_time" {{#ifCond order_ 'end_time'}} selected="selected" {{/ifCond}}>
                            end_time
                        </option>
                    </select>
                
               </div>
                <div class="row">
                    {{#each products}}
                    {{> import/product_view}}
                    {{/each}}
                </div>
                <div class="float-right">
                    <ul class="pagination">
                        <li class="page-item {{#ifCond page 1}} disabled {{/ifCond}}">
                            <a class="page-link" href="?page={{previouspage}}?order={{order_}}">Previous</a>
                        </li>
                        {{#each maxpage}}
                        <li class="page-item {{#ifCond ../page maxpage_page}} active {{/ifCond}}">
                            <a class="page-link" href="?page={{maxpage_page}}?order={{../order_}}">{{maxpage_page}}</a>
                        </li>
                        {{/each}}
                        <li class="page-item {{#ifCond page maxpage.length}} disabled {{/ifCond}}">
                            <a class="page-link" href="?page={{nextpage}}?order={{order_}}">Next</a>
                        </li>

                    </ul>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <p id="getsearch" style="visibility: hidden;">{{search}}</p>

    {{> import/b4_script}}
    <script>
        $('#OrderPicker').change(function () {
            var optionSelected = $(this).find("option:selected");
            var valueSelected = optionSelected.val();
            var textSelected = optionSelected.text();
            var search = $('#getsearch').text();
            window.location.href = `?search=${search}?order=${valueSelected}`;
        });
    </script>
</body>

</html>