<div class="card-header text-white bg-primary">Side</div>
<div class="list-group">
    {{#each cats}}
        <a href="/cat/{{CatID}}/products" class="list-group-item list-group-item-action {{#if isActive}}active{{/if}}">
            {{CatName}}
        </a>
    {{/each}}
</div>