<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    {{!-- Ảnh, tên, giá, tg kết thúc --}}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center">My Products</h1>
        {{#if emptyList}}
        <div>You don't have any products</div>
        {{else}}
        <table class="table table-hover table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">Product</th>
                    <th class="col-5">Product Name</th>
                    <th class="col-1">End Time</th>
                    <th class="col-2">Top Bidder</th>
                    <th class="col-2">Edit</th>
                </tr>
            </thead>
            <tbody>
                {{#each listOfPro}}
                <div>
                    <tr class="d-flex">
                        <td class="col-2"><a class="thumbnail" href="/product/{{ProID}}"> <img class="media-object"
                                    src="./products/{{ProID}}/main.jpg" style="width: 100px; height: 100px;"></a></td>
                        <td class="col-5">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product/{{ProID}}">{{ProName}}</a></h4>
                                <h6>Rating: <span class="text-success"><strong>{{Rating}}/10</strong></span></h6>
                            </div>
                        </td>
                        <td class="col-1"><i>{{end_time}}</i></td>
                        <td class="col-2"><strong>{{topBidder.f_fullname}}</strong></td>
                        <td class="col-2">
                            <form method="POST" action="deletemyproduct">
                                <a href="/seller/add-descript/{{ProID}}">
                                    <button type="button" class="btn btn-warning">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                                <button type="button" class="btn btn-danger">
                                    <i class="fad fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>

        {{/if}}
    </div>

    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center">Product Bidding</h1>
        {{#if emptyList_Bidding}}
        <div>You don't have any products</div>
        {{else}}
        <table class="table table-hover table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">Product</th>
                    <th class="col-5">Product Name</th>
                    <th class="col-1">End Time</th>
                    <th class="col-2">Top Bidder</th>
                    <th class="col-2">Deny this bidder</th>
                </tr>
            </thead>
            <tbody>
                {{#each productBidding}}
                <div>
                    <tr class="d-flex">
                        <td class="col-2"><a class="thumbnail" href="/product/{{ProID}}"> <img class="media-object"
                                    src="./products/{{ProID}}/main.jpg" style="width: 100px; height: 100px;"></a></td>
                        <td class="col-5">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product/{{ProID}}">{{ProName}}</a></h4>
                                <h6>Rating: <span class="text-success"><strong>{{Rating}}/10</strong></span></h6>
                            </div>
                        </td>
                        <td class="col-1"><i>{{end_time}}</i></td>
                        <td class="col-2"><strong>{{topBidder.f_fullname}}</strong></td>
                        <td class="col-2">
                            <form method="POST" action="/seller/refuse">
                                <input type="hidden" id="proid" name="proid" value={{ProID}}>
                                <input type="hidden" id="bidderid" name="bidderid" value={{topBidder.BidderID}}>
                                <input type="hidden" id="orderid" name="orderid" value={{topBidder.OrderID}}>
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                
                            </form>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>

        {{/if}}
    </div>


    <div class="container shadow p-3 mb-5 bg-white rounded">
        <h1 class="text-center">Product Success</h1>
        {{#if emptyList_Bidded}}
        <div>You don't have any products</div>
        {{else}}
        <table class="table table-hover table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">Product</th>
                    <th class="col-4">Product Name</th>
                    <th class="col-1">End Time</th>
                    <th class="col-2">Winner</th>
                    <th class="col-1">Refuse</th>
                    <th class="col-2">Rate winner</th>
                </tr>
            </thead>
            <tbody>
                {{#each productWon}}
                <div>
                    <tr class="d-flex">
                        <td class="col-2"><a class="thumbnail" href="/product/{{ProID}}"> <img class="media-object"
                                    src="./products/{{ProID}}/main.jpg" style="width: 100px; height: 100px;"></a></td>
                        <td class="col-4">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product/{{ProID}}">{{ProName}}</a></h4>
                                <h6>Rating: <span class="text-success"><strong>{{Rating}}/10</strong></span></h6>
                            </div>
                        </td>
                        <td class="col-1"><i>{{end_time}}</i></td>
                        <td class="col-2"><strong>{{topBidder.f_fullname}}</strong></td>
                        <td class="col-1">
                            <form method="POST" action="/seller/refuse-winner">
                                <input type="hidden" id="proid" name="proid" value={{ProID}}>
                                <input type="hidden" id="bidderid" name="bidderid" value={{topBidder.BidderID}}>
                                <input type="hidden" id="orderid" name="orderid" value={{topBidder.OrderID}}>
                                    <button type="submit" class="btn btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>                                
                            </form>
                        </td>
                        <td class="col-2">
                            <form method="POST" action="ratinwinner">
                                <h6 class="form-group row">
                                    <div>
                                        <input type="number" class="form-control" id="inputRating" placeholder="1-10"
                                            min="1" max="10">
                                    </div>
                                    <button type="submit" class="btn btn-success"><i
                                            class="fas fa-vote-yea"></i></button>
                                </h6>
                            </form>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>

        {{/if}}
    </div>

    {{> import/b4_script}}
    <script src="./assets/js/watch-list.js"></script>
</body>

</html>