<!DOCTYPE html>
<html lang="en">

<head>
    {{>import/head}}
</head>

<body>
    {{>import/navbar}}
    <h1 class="text-center">Won list</h1>
    {{!-- Ảnh, tên, giá, tg kết thúc --}}
    <div class="container shadow p-3 mb-5 bg-white rounded">
        {{#if emptyList}}
        <div>Your Won-list is Empty</div>
        {{else}}
        <table class="table table-hover table-striped">
            <thead>
                <tr class="d-flex">
                    <th class="col-2">Product</th>
                    <th class="col-5">Product Name</th>
                    <th class="col-2">End Time</th>
                    <th class="col-2">Order Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each winningList}}

                <div>
                    <tr class="d-flex">
                        <td class="col-2"><a class="thumbnail" href="/product/{{ProID}}"> <img class="media-object"
                                    src="./products/{{ProID}}/main.jpg" style="width: 100px; height: 100px;"></a></td>
                        <td class="col-5">
                            <div class="media-body">
                                <h4 class="media-heading"><a href="/product/{{ProID}}">{{ProName}}</a></h4>
                                <h6>Rating: <span class="text-success"><strong>{{Rating}}/10</strong></span></h6>
                                <form method="POST" action="rating">
                                    <h6 class="form-group row">
                                        <label for="ratingseller" class="col-sm-4 col-form-label">Rating seller:</label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="inputRating"
                                                placeholder="1-10" min="1" max="10">
                                        </div>
                                        <button type="submit" class="btn btn-success"><i class="fas fa-vote-yea"></i></button>
                                    </h6>
                                </form>
                            </div>
                        </td>
                        <td class="col-2"><i>{{end_time}}</i></td>
                        <td class="col-2"><strong>{{priceOrder}} VND</strong></td>
                        <td class="col-1">
                            <div class="text-success">
                                <i class="far fa-check fa-3x"></i>
                            </div>
                        </td>
                    </tr>
                </div>
                {{/each}}
            </tbody>
        </table>

        {{/if}}
    </div>


    {{> import/b4_script}}
    <script src="./assets/js/bidded.js"></script>
</body>

</html>